@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}

body {
	background: #201E20;
	font-size: 1vw; /* okay to keep */
  }
  
  div {
	display: inline-block;
  }
  
  .projectImages {
	width: 30vw;
  }
  
  .descriptionText {
	display: inline-block;
	width: 35vw;
	color: #D08261;
	margin: 0 10vw;
	font-family: Open Sans, sans-serif;
  }
  
  .projectLinks {
	text-decoration: underline;
	color: lightskyblue;
  }
  
  .projectLinks:hover {
	color: hotpink;
  }
  
  .projectLinks:active {
	color: lightgreen;
  }
  
  #tetrisDiv {
	padding-top: 20vh;
	margin-left: 10vw;
	margin-bottom: 30vh;
  }
  
  #lorenzSystemDiv {
	text-align: right;
	margin-right: 10vw;
	padding-bottom: 30vh;
  }
  
  #mandelbrotSetDiv {
	margin-left: 10vw;
	margin-bottom: 20vh;
  }
  
  #juliaSetDiv {
	text-align: right;
	margin-right: 10vw;
	padding-bottom: 30vh;
  }
  
  #sineJuliaSetDiv {
	margin-left: 10vw;
	margin-bottom: 20vh;
  }
  
  #calculatorDiv {
	text-align: right;
	margin-right: 10vw;
	padding-bottom: 30vh !important;
  }
  
